@charset "utf-8";
/* CSS Document */



*{
	box-sizing: border-box;
}
body{
	font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #6C7279;
	font-size: 14px;
    line-height: 1.42857143;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix:before{
	display: table;
	content: " ";
	
}


image{
	vertical-align: middle;
	border: 0;
}

	
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul li{
	list-style: none;
	
}

 

p{
	font-size: 14px;
	line-height: 22.4px;
	color: #6C7279;
	
}
h1{
	font-size: 65px;
	color: white;
	
}

h2 {
  font-size: 40px;
  color: #2d3033; }

h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300; }

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400; }

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700; }













	
